* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d0d0d0;
}
.logo {
  height: 80px;
  width: 80px;
}
.logo > img {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f8f9fa;
}
h1 {
  color: #007bff;
}
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  margin-top: 50px;
}
.navbar-toggler:hover {
  background-color: rgba(85, 144, 253, 0.5);
}
